body
{
	width: 75%;
	margin: 40px auto;
	font: 300 15px 'Open Sans', sans-serif;
	color: #333;
}

input
{
	border: 1px solid #aaa;
	border-radius: 4px;
	background-color: #fff;
	padding: 4px;
	font: 300 15px 'Open Sans', sans-serif;
}
h1
{
	padding: 0px 10px 0px 0px;
    font: 26px/1.7 'Open Sans', sans-serif;
    color: #333;
   	text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}
h3
{
	padding: 0px 10px 20px 0px;
    font: 12px/1.7 'Open Sans', sans-serif;
    color: #333;
   	text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}